doctype html
html
  head
    title
      h1 ROBLEC url shrtnr
  body
    h1 Enter an URL to shorten
    p (or a shortened URL to preview)
      form(name='shorten',action='/',method='post')
        input(type='text',name='input',size='50')
        input(type='submit',value='Go')
    a(href = '#{output}') #{output}
    - var topten = JSON.parse(top)
    p
    h3 Topten
    ul
      each val, index in topten
        p
        a(href = val.short ) (#{index+1})  -  http://localhost:3000/#{val.short}  -  [#{val.long}]